/build/
/build*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.log
*.tmp

*.o
*.obj
*.so
*.a
*.lib
*.dll
*.dylib

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

.DS_Store

Thumbs.db

*.swp
*.bak
*.backup
*.sav

*.pyc
__pycache__/

*.user
*.userprefs
*.suo
*.opensdf
*.tlog

/docs/doxygen/html/
